img.im{
    margin-left: 290px;
}

.main{
    text-align: center;
    font-family: cursive;
    padding-bottom: 40px;
}

.field{
    width: 350px;
    position: relative;
    left: 700px;
    top: -560px;
    background-color: aliceblue;
}

.fea{
    width: 258px;
    height: 24px;
    margin-left: 35px;
}

.bea{
    width: 258px;
    height: 24px;
    margin-left: 35px;
    margin-top: 9px;
}


.btn{
    margin-top: 19px;
    margin-left: 38px;
    width: 260px;
    height: 30px;
    font-weight: bolder;
    color: white;
    background-color: rgb(1, 173, 253);
}

.h1{
    margin-top: 40px;
    width: 100px;
    position: relative;
    right: 88px;
    opacity: 0.5;
}

.para{
    position: relative;
    left: 153px;
    bottom: 25px;
    opacity: 0.5;
}

.h2{
    margin-top: 40px;
    width: 100px;
    position: relative;
    left: 70px;
    bottom: 75px;
    opacity: 0.5;

}

.anc{
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 95px;
    bottom: 50px;
    color: rgb(36, 36, 46);
}
.anc1{
    text-decoration: none;
    position: relative;
    right: 31px;
    bottom: 10px;
    color: rgb(36, 36, 46);
    font-size: 15px;
}


.field2{
    height: 40px;
    width: 350px;
    position: relative;
    left: 700px;
    top: -550px;
    background-color: aliceblue;
    
}

.gel1{
    font-weight: 550;
    margin-left: 45px;
}


.gel2{
    text-decoration: none;
    color: rgb(6, 151, 235);
    font-weight: bolder;
    position: relative;
    left: 210px;
    bottom: 33px;
}


.para2{
    position: relative;
    left: 850px;
    bottom: 545px;
}